.container_conf {
    height: 100vh;
    @include flex-center-column
}

.container_form {
    button{
        background-color: $green-form;
        border: none;
        padding: .1em;
        padding-right: 1em;
        padding-left: 1em;
        border-radius: .5rem;
        color: white;
        font-weight: 300;
    }
@include flex-center-column
}

.conf_option {
    padding: .3rem 1rem .3rem 1rem;
    width: 70%;
    border-radius: .2rem;
    text-align: center;
    margin: 10px auto;
    background-color: $green-insect;

    a{
        font-size: 30px;
        font-weight: 300;
        text-shadow: 1px 1px 2px rgb(23, 22, 22);
        cursor: pointer;
    }

    &:hover{
        background-color: $green
        
    }

    @media (max-width:600px) {
        a{
            font-size: 20px;
    }
}
}