.p_wrapper {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    text-align: center;
}

.paragraph_style {
    padding-left: 7em;
    padding-right: 7em;
    margin-top: -1em;
    font-size: 1.5rem;
    font-weight: 300;
    text-align: justify;

    @media (max-width:600px) {
        font-size: .8rem;
        padding-left: 2em;
        padding-right: 2em;
    }
}

.paragraph_style_ends {
    margin-top: -1em;
    margin-left: 20px;
    font-size: 2.5rem;
    font-weight: 400;
    color: $grey-color;

    @media (max-width:600px) {
        font-size: 1rem;
        margin-left: 0px;
    }

}

.btn_about_us {
    background-color: rgb(98, 122, 98);
    color: white;
    border-radius: .5em;
    font-size: 2em;
    font-weight: 300;
    text-align: center;
    @media (max-width:600px) {
        font-size:1em;
    }
        
}