.cards_wrapper {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: row;
    flex-wrap: wrap;
    gap:20px;
    padding: 1em;

    .card_style {
        border-radius: .15rem;
        display: flex;
        align-items: center;
        justify-content: center;
        flex-direction: column;
        width: 250px;
        height: 300px;
        overflow: hidden;
        background-color: $green;
        font-weight: 400;
        transition: 0.4s linear;
        &:hover{
            transform: scale(1.1);
            box-shadow: rgba(113, 112, 112, 0.19) 0px 10px 10px, rgba(89, 89, 89, 0.23) 0px 4px 4px;
        }
        a {
            font-size: 13px;
            font-style: normal;
            text-decoration: none;
            color: #454545;
            &:hover {
                color: #ffffff;
                font-weight: 300;
                
            }
        }
        img {
            height: 100%;
            width: 100%;
            aspect-ratio: 1 / 1;
            object-fit: cover;
            object-position: center;
        }

        
        &:hover{
            background-color: $green-insect;
        }
        
        @media (max-width:768px) {
            max-width: 150px;
            max-height: 200px;
            font-size: 10px;
        }
    }
}



.h1_title{
    text-align: center;
    margin-top: 100px;
    @media (max-width:768px) {
        margin-top: 50px;
    }
    

}

.lastPublications_margin_bottom {
    margin-bottom: 5%;
}
