//AQUI ESTAN LOS TEMAS PREDETERMINADOS DE LIGHT Y DARK PARA TODO EL PROYECTO
#Dark {
    background-color: #282c34;
    color: white !important;
    a {
        color: white;
    }
}

#Light{
    background-color: #f2f4f6;
    color: #0d3f67;
}

.navbar_nav{
    display: flex;
    justify-content: space-between;
    height: 80px;
    width: 100vw;
}

.icons_flex_navbar{
    display: flex;
    align-items: center;
    max-width: 100%;
    gap: 10px;
    margin-top: 20px;
    @media(max-width:400px){
        gap: 3px;
        margin-top: 20px;

    }

}
.flex_navbar {    
    padding: 0;
    margin: 0;
    display: flex;
    align-items: center;
    justify-content: space-around;
    
    form{
        max-width: 100%;
        width: 30px;
        
    }
}

.input_search {
max-height: 100px;
max-width: 100% ;
width: 300px;
font-size: 50px;
padding: .1em;
border-style: none;
background-color:#f2f4f6 ;
    &:focus {
        outline: none;
        color:#0d3f67;
        width: 400px;
    }
}


.img_navbar{
max-height: 90px;
margin-left: 5px;
// margin-right: 75%;
@media (max-width:400px) {
    height: 80px;
    width: 200px;
    }
}

.icon_style {
    font-size: 30px;
    cursor: pointer;
    @media (max-width:400px) {
        font-size: 20px;
        }
}

