.container_form_recipe {
    

    position: absolute;
    top: 0;
    left: 0;
    height: 100vh;
    width: 100vw;
    background: rgba(0, 0, 0, 0.65);
}

.nav_container_profile{
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
    background-color: $musgo-color;
}

.profile_nav {
    background-color: $musgo-color;
    width: 100%;
    height: 60px;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: left;
    a {
        color: white;
        font-size: 20px;
        font-weight: 200;
    }

    img{
        width: 40px;
        height: 40px;
        border-radius: 20px;
    }

    .p_profile {
        cursor: pointer;
        color: white;
    }
    
    .home_ref {
        font-weight: 300;
        text-shadow: 1px 1px 2px $grey-color;
        font-size: 22px;
        &:hover {
            text-shadow: 2px 2px 2px rgb(23, 39, 27);
        }
    }
}


.icon_profile_config{
    color: white;
    width: 50px;
    height: 25px;
    cursor: pointer;
}

.send_recipe {
    // margin: 0 auto;
    // background-color: rgb(103, 103, 103) ;
    // color: rgb(255, 255, 255) !important;
    // @include flex-center-column 
    display: flex;
    flex-direction: column;
    border-radius: 15px;
    border: 1px solid white;
    background: rgb(57, 58, 57);
    color: white;
    padding: 20px;
    position: absolute; top: 50%; left: 50%; transform: translate(-50%, -50%);
    z-index: 10;
    textarea{
        font-size: 18px;
        margin-top: 10px;
        max-height: 200px;
        max-width: 300px;
        min-width: 300px;
        min-height: 150px;
        resize: none;
        }
}

.form_button_profile{
    background-color: #318e6a;
    border: 1px solid white;
    padding: .45em;
    width: 500px;
    max-width: 300px;
    font-size: 25px;
    border-radius: .3rem;
    margin-top: 5%;
    margin-bottom: 5%;
    color: white;
    
    &:hover{
        opacity: 80%;
        color: $grey-color;
        cursor: pointer;
    }

    
}

.label_config_guide{
    min-width: 100px;
    input{
        width: 100%;
    }
}