//Nav estilo
.height_view{
    height: 100vh;
}
//Estilo nav
.nav_container_profile{
    display: flex;
    flex-direction: row;
}



.profile_nav {
    width: 100%;
    height: 60px;
    display: flex;
    flex-direction: row;
    align-items: center;
    a {
        font-size: 20px;
        font-weight: 300;
    }

    img{
        border: 1px solid white;
        width: 40px;
        height: 40px;
        border-radius: 20px;
    }

    .p_profile {
        cursor: pointer;
        color: white;
    }
    
    .home_ref {
        font-weight: 200;
        text-shadow: 1px 1px 2px $grey-color;
        font-size: 22px;
        &:hover {
            text-shadow: 2px 2px 2px rgb(23, 39, 27);
        }
    }
}

.icon_profile_config{
    margin-top: 15px;
    width: 50px;
    height: 25px;
    cursor: pointer;
}

//Formulario de publicar receta
.container_form_recipe {
    position: absolute;
    top: 0;
    left: 0;
    height: 100vh;
    width: 100vw;
    background: rgba(0, 0, 0, 0.65);
}

.title_recipe{
    text-align: center;
    font-weight: 200;
    font-size: 30px;
}
.send_recipe {
    display: flex;
    flex-direction: column;
    border-radius: 5px;
    background: $grey-color !important;
    font-weight: 300;
    color: white !important;
    padding: 20px;
    position: absolute; top: 50%; left: 50%; transform: translate(-50%, -50%);
    z-index: 10;
    max-width: 300px;
    input{
        border-style: none;
        &:focus {
            outline: none;
            padding-left: .5em;
        }
    }
    textarea{
        font-size: 18px;
        margin-top: 10px;
        max-height: 200px;
        max-width: 300px;
        min-width: 300px;
        min-height: 150px;
        border-style: none;
        resize: none;
        &:focus {
            outline: none;
            padding-left: .5em;
        }
    }
}

//Boton configuración
.icon_profile_config{
    margin-top: 15px;
    width: 50px;
    height: 25px;
    cursor: pointer;
}

//Estilo boton del formulario
.form_button_profile{
    background-color: $green-form;
    padding: .2em;
    max-width: 300px;
    font-size: 30px;
    font-weight: 300;
    border-radius: .2rem;
    margin-top: 5%;
    margin-bottom: 5%;
    color: white;
    border: 1px solid white;
    &:hover{
        opacity: 80%;
        color: $grey-color;
        cursor: pointer;
    }

    
}

.title_recipe_profile{
    cursor: pointer;
}

.label_config_guide{
    min-width: 100px;
    input{
        width: 100%;
    }
}

.row_card_flex {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: row;
    flex-wrap: wrap;
    gap:10px;
    padding: 1em;
    .cards_style{
        border-radius: .15rem;
        display: flex;
        align-items: center;
        justify-content: center;
        flex-direction: column;
        max-width: 250px;
        height: 300px;
        overflow: hidden;
        background-color: $green-form;
        font-weight: 400;
        a{
            font-size: 15px;
            font-style: normal;
            text-decoration: none;
            color: #454545;
            &:hover {
                color: #ffffff;
                font-weight: 300;
            }
        }
        img{
            height: 100%;
            width: 100%;
        }
        @media (max-width:400px) {
            width: 150px;
            height: 200px;
            font-size: 10px;
        }
        &:hover{
            background-color: #9a8d80;
        }
    }
}


