@charset "UTF-8";
@import url("https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap");
* {
  font-family: "Poppins", sans-serif;
  font-size: large;
  line-height: 1.6;
}

body {
  margin: auto 0;
  padding: 0;
}

.article_wrapper {
  background-color: #383838;
}

h1 {
  font-size: 2em;
}

p {
  padding: 1em;
}

a {
  text-decoration: none;
  padding: 1em;
}

.o-title--s {
  font-size: 14px;
  line-height: 16px;
}
.o-title--m {
  font-size: 16px;
  line-height: 18px;
}
.o-title--l {
  font-size: 18px;
  line-height: 20px;
}

.h1_style_publication {
  text-align: center;
  color: white;
  padding: 0.5em;
  font-size: 80px;
  font-weight: 500;
}

@media (max-width: 600px) {
  .h1_style_publication {
    /* Add your specific styles for screens with a max width of 600px here */
    font-size: 30px; /* Adjust the font size as needed */
  }
}
.form_button {
  background-color: #46c795;
  border: 1px solid white;
  padding: 1em;
  width: 500px;
  max-width: 300px;
  font-size: 15px;
  border-radius: 0.3rem;
  margin-top: 5%;
  margin-bottom: 5%;
  color: white;
}
.form_button:hover {
  background-color: white;
  color: #383838;
  cursor: pointer;
}

.container {
  max-width: 500px;
  margin: 0 auto;
  margin-top: 2% !important;
  color: white;
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 5px;
  flex-direction: column;
}

@media (max-width: 600px) {
  form {
    width: 300px;
    margin: 0 auto; /* Ajusta el ancho del formulario para pantallas más pequeñas */
  }
}
.container_row {
  display: flex;
  justify-content: space-between;
  align-items: center;
  gap: 10px;
  flex-direction: row;
}
.container_row p {
  font-size: 14px;
}

.form_Style {
  border: 1px solid white;
  border-radius: 0.5rem;
  opacity: 90%;
  padding: 0.8em;
  background-color: #282828;
  font-weight: 200;
  box-shadow: rgba(0, 0, 0, 0.3) 0px 19px 38px, rgba(0, 0, 0, 0.22) 0px 15px 12px;
}
.form_Style input {
  color: #383838;
  background-color: #e1e1e1;
  border: none;
  border-radius: 0.1rem;
}
.form_Style input:active {
  background-color: beige;
  color: black;
}
.form_Style h2 {
  font-size: 30px;
  font-weight: 600;
  display: flex;
  align-items: left;
}

@media (max-width: 1920) {
  form {
    color: #282828;
    width: 100%;
  }
}
@media (max-width: 600) {
  form {
    padding: 0;
    width: 90%; /* Ajusta el ancho del formulario para pantallas más pequeñas */
  }
}
.margin_top_h1 {
  margin-top: 5%;
}

.label_config {
  width: 300px;
  min-width: 200px;
  display: flex;
  justify-content: center;
  align-items: left;
  gap: 10px;
  flex-direction: column;
  font-size: 20px;
}

.style_container {
  display: flex;
  align-items: center;
  justify-content: space-between;
  margin-right: 20px;
}

.nav_dimension {
  height: 90px;
  background-color: rgb(255, 255, 255);
  padding: 0.5em;
  position: fixed;
  overflow: hidden;
  z-index: 1000;
  width: 100%;
}
@media (max-width: 600px) {
  .nav_dimension {
    width: 100%;
  }
  .nav_dimension nav {
    padding: 0;
  }
}

.img_dimension {
  max-height: 90px;
  filter: drop-shadow(1px 1px 1px black);
}
@media (max-width: 400px) {
  .img_dimension {
    height: 80px;
  }
}

.icon_style {
  color: rgb(94, 116, 83);
  height: 50px;
  width: 30px;
  filter: drop-shadow(1px 1px 1px black);
  margin-top: -15px;
}

.icon_container {
  margin-left: 300px;
  display: flex;
  flex-direction: row;
  gap: 10px;
}
@media (max-width: 600px) {
  .icon_container {
    margin-left: 25px;
  }
}

.input_container {
  display: flex;
  gap: 10px;
}
.input_container input {
  border: 1px solid rgb(122, 121, 94);
}
@media (max-width: 600px) {
  .input_container input {
    width: 100px;
  }
}

.icon_horizontal_search {
  transform: scaleX(-1);
  color: rgb(146, 154, 104);
  height: 30px;
  width: 20px;
  filter: drop-shadow(1px 1px 1px rgb(0, 0, 0));
}
@media (max-width: 600px) {
  .icon_horizontal_search {
    opacity: 0;
  }
}

.p_wrapper {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  text-align: center;
}

.paragraph_style {
  padding-left: 7em;
  padding-right: 7em;
  margin-top: -1em;
  font-size: 1.5rem;
  font-weight: 300;
  text-align: justify;
}
@media (max-width: 600px) {
  .paragraph_style {
    font-size: 0.8rem;
    padding-left: 2em;
    padding-right: 2em;
  }
}

.paragraph_style_ends {
  margin-top: -1em;
  margin-left: 20px;
  font-size: 2.5rem;
  font-weight: 400;
  color: #383838;
}
@media (max-width: 600px) {
  .paragraph_style_ends {
    font-size: 1rem;
    margin-left: 0px;
  }
}

.btn_about_us {
  background-color: rgb(98, 122, 98);
  color: white;
  border-radius: 0.5em;
  font-size: 2em;
  font-weight: 300;
  text-align: center;
}
@media (max-width: 600px) {
  .btn_about_us {
    font-size: 1em;
  }
}

.publication_wrapper {
  background-color: white;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
  gap: 40px;
}

.image_style {
  width: 200px;
  margin: 15px;
  border-radius: 5px;
}
@media (max-width: 600px) {
  .image_style {
    width: 120px;
    margin: 5px;
  }
}

.nav_container_profile {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
  background-color: #5e876b;
}

.profile_nav {
  background-color: #5e876b;
  width: 100%;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: left;
}
.profile_nav a {
  color: white;
  font-size: 20px;
  font-weight: 200;
}
.profile_nav img {
  width: 40px;
  height: 40px;
  border-radius: 20px;
}

.icon_profile_config {
  color: white;
  width: 50px;
  height: 25px;
  cursor: pointer;
}

.send_recipe {
  margin: 0 auto;
  color: #383838 !important;
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 5px;
  flex-direction: column;
}

.form_button_profile {
  background-color: #46c795;
  border: 1px solid white;
  padding: 1em;
  width: 500px;
  max-width: 300px;
  font-size: 15px;
  border-radius: 0.3rem;
  margin-top: 5%;
  margin-bottom: 5%;
  color: white;
}
.form_button_profile:hover {
  opacity: 80%;
  color: #383838;
  cursor: pointer;
}

.label_config_guide {
  display: block;
  min-width: 100px;
}
.label_config_guide input {
  width: 100%;
}

.container_conf {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 5px;
  flex-direction: column;
}

.conf_option {
  padding: 0.3rem 1rem 0.3rem 1rem;
  width: 70%;
  border-radius: 0.2rem;
  text-align: center;
  margin: 10px auto;
  background-color: #5e876b;
  color: white;
}
.conf_option a {
  font-size: 30px;
  font-weight: 300;
  text-shadow: 1px 1px 2px rgb(23, 22, 22);
  cursor: pointer;
}
.conf_option:hover {
  background-color: #46c795;
}
@media (max-width: 600px) {
  .conf_option a {
    font-size: 20px;
  }
}/*# sourceMappingURL=app.css.map */