// _config.scss
$green-card: #8d9982;
$green-shit: #5c7856;
$green-form: #46c795;
$musgo-color: #91b68c;
$green-insect:#8cc38a;
$green-grey:#a1c9a0;
$green:#75b474;
$grey-color: #383838;
$font-family: 'Poppins', sans-serif;  // Usar 'Poppins' como fuente predeterminada
$base-font-size: 16px;

@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');

