*{
    font-family: $font-family;
    font-size: large;
    line-height: 1.6;
    margin: 0;
    padding: 0;
}


body{
    padding:  0 auto;
    margin: 0;
    
}

html{
    height: 100vh;
    background-color: #282c34;
}


