@charset "UTF-8";
@import url("https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap");
* {
  font-family: "Poppins", sans-serif;
  font-size: large;
  line-height: 1.6;
  margin: 0;
  padding: 0;
}

body {
  padding: 0 auto;
  margin: 0;
}

h1 {
  font-size: 2em;
}

p {
  padding: 1em;
}

a {
  text-decoration: none;
  padding: 1em;
}

.o-title--s {
  font-size: 14px;
  line-height: 16px;
}
.o-title--m {
  font-size: 16px;
  line-height: 18px;
}
.o-title--l {
  font-size: 18px;
  line-height: 20px;
}

.h1_style_publication {
  text-align: center;
  color: white;
  padding: 0.5em;
  font-size: 80px;
  font-weight: 500;
}

@media (max-width: 600px) {
  .h1_style_publication {
    font-size: 30px;
  }
}
.form_button {
  background-color: #46c795;
  border: 1px solid white;
  padding: 1em;
  width: 500px;
  max-width: 300px;
  font-size: 15px;
  border-radius: 0.3rem;
  margin-top: 5%;
  margin-bottom: 5%;
  color: white;
}
.form_button:hover {
  background-color: white;
  color: #383838;
  cursor: pointer;
}

.container {
  max-width: 500px;
  margin: 0 auto;
  margin-top: 2% !important;
  color: white;
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 5px;
  flex-direction: column;
}

@media (max-width: 600px) {
  form {
    width: 300px;
    margin: 0 auto; /* Ajusta el ancho del formulario para pantallas más pequeñas */
  }
}
.container_row {
  display: flex;
  justify-content: space-between;
  align-items: center;
  gap: 10px;
  flex-direction: row;
}
.container_row p {
  font-size: 14px;
}

.form_Style {
  border: 1px solid white;
  border-radius: 0.5rem;
  opacity: 90%;
  padding: 0.8em;
  background-color: #282828;
  font-weight: 200;
  box-shadow: rgba(0, 0, 0, 0.3) 0px 19px 38px, rgba(0, 0, 0, 0.22) 0px 15px 12px;
}
.form_Style input {
  color: #383838;
  background-color: #e1e1e1;
  border: none;
  border-radius: 0.1rem;
}
.form_Style input:active {
  background-color: beige;
  color: black;
}
.form_Style input:focus-visible {
  outline: none;
}
.form_Style h2 {
  font-size: 30px;
  font-weight: 600;
  display: flex;
  align-items: left;
}

@media (max-width: 1920) {
  form {
    color: #282828;
    width: 100%;
  }
}
@media (max-width: 600) {
  form {
    padding: 0;
    width: 90%; /* Ajusta el ancho del formulario para pantallas más pequeñas */
  }
}
.margin_top_h1 {
  margin-top: 5%;
}

.label_config {
  width: 300px;
  min-width: 200px;
  display: flex;
  justify-content: center;
  align-items: left;
  gap: 10px;
  flex-direction: column;
  font-size: 20px;
}

#Dark {
  background-color: #282c34;
  color: white !important;
}
#Dark a {
  color: white;
}

#Light {
  background-color: #f2f4f6;
  color: #0d3f67;
}

.navbar_nav {
  display: flex;
  justify-content: space-between;
  height: 80px;
  width: 100vw;
}

.icons_flex_navbar {
  display: flex;
  align-items: center;
  max-width: 100%;
  gap: 10px;
  margin-top: 20px;
}
@media (max-width: 400px) {
  .icons_flex_navbar {
    gap: 3px;
    margin-top: 20px;
  }
}

.flex_navbar {
  padding: 0;
  margin: 0;
  display: flex;
  align-items: center;
  justify-content: space-around;
}
.flex_navbar form {
  max-width: 100%;
  width: 30px;
}

.input_search {
  max-height: 100px;
  max-width: 100%;
  width: 300px;
  font-size: 50px;
  padding: 0.1em;
  border-style: none;
  background-color: #f2f4f6;
}
.input_search:focus {
  outline: none;
  color: #0d3f67;
  width: 400px;
}

.img_navbar {
  max-height: 90px;
  margin-left: 5px;
}
@media (max-width: 400px) {
  .img_navbar {
    height: 80px;
    width: 200px;
  }
}

.icon_style {
  font-size: 30px;
  cursor: pointer;
}
@media (max-width: 400px) {
  .icon_style {
    font-size: 20px;
  }
}

.p_wrapper {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  text-align: center;
}
.p_wrapper h1 {
  font-size: 50px;
  margin-bottom: 10px;
  position: relative;
}
@media (max-width: 400px) {
  .p_wrapper h1 {
    font-size: 1.5rem;
  }
}
.p_wrapper h1:after {
  content: "";
  position: absolute;
  top: 100%;
  left: 0;
  width: 0;
  height: 2px;
  background-color: #75b474;
  transition: width 0.5s ease-in-out;
}
.p_wrapper h1:hover::after {
  width: 100%;
}

.paragraph_style {
  padding-left: 7em;
  padding-right: 7em;
  margin-top: -1em;
  font-size: 1.5rem;
  font-weight: 300;
  text-align: justify;
}
@media (max-width: 600px) {
  .paragraph_style {
    font-size: 0.8rem;
    padding-left: 2em;
    padding-right: 2em;
  }
}

.paragraph_style_ends {
  margin-top: -1em;
  margin-left: 20px;
  font-size: 2.5rem;
  font-weight: 400;
  text-align: justify;
}
@media (max-width: 600px) {
  .paragraph_style_ends {
    font-size: 1rem;
    margin-left: 0px;
  }
}

.btn_about_us {
  background-color: rgb(98, 122, 98);
  color: white;
  border-radius: 0.5em;
  font-size: 2em;
  font-weight: 300;
  text-align: center;
  justify-content: center;
}
@media (max-width: 600px) {
  .btn_about_us {
    font-size: 1em;
  }
}

.cards_wrapper {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: row;
  flex-wrap: wrap;
  gap: 10px;
  padding: 1em;
}
.cards_wrapper .card_style {
  border-radius: 0.15rem;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  width: 250px;
  height: 300px;
  overflow: hidden;
  background-color: #46c795;
  font-weight: 400;
}
.cards_wrapper .card_style a {
  font-size: 15px;
  font-style: normal;
  text-decoration: none;
  color: #454545;
}
.cards_wrapper .card_style a:hover {
  color: #ffffff;
  font-weight: 300;
}
.cards_wrapper .card_style img {
  height: 100%;
  width: 100%;
}
@media (max-width: 400px) {
  .cards_wrapper .card_style {
    width: 150px;
    height: 200px;
    font-size: 10px;
  }
}
.cards_wrapper .card_style:hover {
  background-color: #9a8d80;
}

.h1_title {
  text-align: center;
  margin-top: 100px;
}

.height_view {
  height: 100vh;
}

.nav_container_profile {
  display: flex;
  flex-direction: row;
}

.profile_nav {
  width: 100%;
  height: 60px;
  display: flex;
  flex-direction: row;
  align-items: center;
}
.profile_nav a {
  color: white;
  font-size: 20px;
  font-weight: 200;
}
.profile_nav img {
  border: 1px solid white;
  width: 40px;
  height: 40px;
  border-radius: 20px;
}
.profile_nav .p_profile {
  cursor: pointer;
  color: white;
}
.profile_nav .home_ref {
  font-weight: 200;
  text-shadow: 1px 1px 2px #383838;
  font-size: 22px;
}
.profile_nav .home_ref:hover {
  text-shadow: 2px 2px 2px rgb(23, 39, 27);
}

.icon_profile_config {
  margin-top: 15px;
  width: 50px;
  height: 25px;
  cursor: pointer;
}

.container_form_recipe {
  position: absolute;
  top: 0;
  left: 0;
  height: 100vh;
  width: 100vw;
  background: rgba(0, 0, 0, 0.65);
}

.send_recipe {
  display: flex;
  flex-direction: column;
  border-radius: 5px;
  background: #383838;
  font-weight: 300;
  color: white;
  padding: 20px;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  z-index: 10;
  max-width: 300px;
}
.send_recipe input {
  border-style: none;
}
.send_recipe input:focus {
  outline: none;
  padding-left: 0.5em;
}
.send_recipe textarea {
  font-size: 18px;
  margin-top: 10px;
  max-height: 200px;
  max-width: 300px;
  min-width: 300px;
  min-height: 150px;
  border-style: none;
  resize: none;
}
.send_recipe textarea:focus {
  outline: none;
  padding-left: 0.5em;
}

.icon_profile_config {
  margin-top: 15px;
  width: 50px;
  height: 25px;
  cursor: pointer;
}

.form_button_profile {
  background-color: #46c795;
  padding: 0.2em;
  max-width: 300px;
  font-size: 30px;
  font-weight: 300;
  border-radius: 0.3rem;
  margin-top: 5%;
  margin-bottom: 5%;
  color: white;
}
.form_button_profile:hover {
  opacity: 80%;
  color: #383838;
  cursor: pointer;
}

.label_config_guide {
  min-width: 100px;
}
.label_config_guide input {
  width: 100%;
}

.row_card_flex {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: row;
  flex-wrap: wrap;
  gap: 10px;
  padding: 1em;
}
.row_card_flex .cards_style {
  border-radius: 0.15rem;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  width: 250px;
  height: 300px;
  overflow: hidden;
  background-color: #46c795;
  font-weight: 400;
}
.row_card_flex .cards_style a {
  font-size: 15px;
  font-style: normal;
  text-decoration: none;
  color: #454545;
}
.row_card_flex .cards_style a:hover {
  color: #ffffff;
  font-weight: 300;
}
.row_card_flex .cards_style img {
  height: 100%;
  width: 100%;
}
@media (max-width: 400px) {
  .row_card_flex .cards_style {
    width: 150px;
    height: 200px;
    font-size: 10px;
  }
}
.row_card_flex .cards_style:hover {
  background-color: #9a8d80;
}

.container_conf {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 5px;
  flex-direction: column;
}

.conf_option {
  padding: 0.3rem 1rem 0.3rem 1rem;
  width: 70%;
  border-radius: 0.2rem;
  text-align: center;
  margin: 10px auto;
  background-color: #91b68c;
  color: white;
}
.conf_option a {
  font-size: 30px;
  font-weight: 300;
  text-shadow: 1px 1px 2px rgb(23, 22, 22);
  cursor: pointer;
}
.conf_option:hover {
  background-color: #75b474;
}
@media (max-width: 600px) {
  .conf_option a {
    font-size: 20px;
  }
}

.recipe_flex_center {
  padding: 2%;
}
.recipe_flex_center h1, .recipe_flex_center h2 {
  text-align: center;
}
.recipe_flex_center h1, .recipe_flex_center h2, .recipe_flex_center h4 {
  color: #383838;
  font-weight: 300;
}
.recipe_flex_center div {
  background-color: grey;
  color: white;
  padding: 3%;
}
.recipe_flex_center article, .recipe_flex_center li {
  font-weight: 200;
  font-size: 16px;
}
.recipe_flex_center img {
  width: 100%;
}
.recipe_flex_center p {
  color: white;
  font-size: 15px;
  padding: 0.5rem;
  text-align: center;
  margin-bottom: 0;
  border-radius: 5px 5px 0 0;
}/*# sourceMappingURL=app.css.map */