.publication_wrapper {
    background-color: white;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    gap: 40px;
}

.image_style {
    width: 200px;
    margin: 15px;
    border-radius: 5px;
   
    
    @media (max-width: 600px) {
       width: 120px;
       margin: 5px;
    }
}

