.publications_wrapper {
  
    background-color: white;
    display:flex;
    align-items: center;
    justify-content:space-between;
    flex-wrap: wrap;
    gap: 20px;
    padding: .5em;
    margin: 0;
}
.prueba{
    width: 300px;
    height: 300px;
}