.nav_container_profile{
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
    background-color: $musgo-color;
}

.profile_nav {
    background-color: $musgo-color;
    width: 100%;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: left;
    a {
        color: white;
        font-size: 20px;
        font-weight: 200;
    }

    img{
        width: 40px;
        height: 40px;
        border-radius: 20px;
    }

    
}

.icon_profile_config{
    color: white;
    width: 50px;
    height: 25px;
    cursor: pointer;
}

.send_recipe {
    margin: 0 auto;
    color: $grey-color !important;
    @include flex-center-column 
}

.form_button_profile{
    background-color: #46c795;
    border: 1px solid white;
    padding: 1em;
    width: 500px;
    max-width: 300px;
    font-size: 15px;
    border-radius: .3rem;
    margin-top: 5%;
    margin-bottom: 5%;
    color: white;

    &:hover{
        opacity: 80%;
        color: $grey-color;
        cursor: pointer;
        
    }
}

.label_config_guide{
    display: block;
    min-width: 100px;
    input{
        width: 100%;

    }
}