.o-title{
    &--s{
        font-size: 14px;
        line-height: 16px;
    }
    &--m{
        font-size: 16px;
        line-height: 18px;
    }
    &--l{
        font-size: 18px;
        line-height: 20px;
    }
}

.h1_style_publication {
    text-align: center;
    color: white;
    padding: .5em;
    font-size: 80px;
    font-weight: 500
}